@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: var(--font-family);
}

input {
    background-color: #F9FAFB;
    border: 1px solid #D1D5DB;
    color: #1F2937;
    font-size: 0.875rem;
    border-radius: 0.375rem;
    padding: 0.625rem;
}

input:focus {
    outline: none;
    border-color: #2563EB;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.3);
}